body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

header {
    border: 1px solid rgba(128, 128, 128, 0.431);
    width: 1000px;
    height: 35px;
    display: grid;
    grid-template-columns: 40px 480px 460px;
    justify-items: center;
    align-items: center;
    justify-self: center;
}

.envProtect {
    background-color: #00DA3B;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProtect {
    width: 15px;
    height: 15px;
}

h1 {
    color: #00DA3B;
    font-size: 10px;
    justify-self: end;
}

.rightButtom {
    border: 1px solid #00DA3B;
    color: #00DA3B;
    width: 120px;
    height: 15px;
    display: grid;
    grid-template-columns: 10px 2fr 10px 2fr;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    justify-self: end;
}

.txtRightButtom {
    font-size: 10px;
}

#pointB {
    font-size: 4px;
    justify-self: end;
}

#pointS {
    font-size: 2px;
    justify-self: end;

}

.centralSquare {
    justify-self: center;
    background-color: #140F1E;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 10px;
    width: 950px;
    height: 150px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 20px;
}

.centralSquareleft {
    grid-column: 2;
}

.bottomNum {
    font-size: 10px;
    margin: 5px 0 5px;
    color: gray;
}

.num {
    font-size: 20px;
    margin-top: 8px;
    color: hsla(140, 98%, 48%, 0.993);

}

.radar,
.sweep {
    position: absolute;
}

.radar {
    overflow: hidden;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 2px hsla(140, 98%, 48%, 0.993);
}

.sweep {
    box-sizing: border-box;
    top: 6px;
    left: 6px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 70px;
    height: 70px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

.sectionButton3 {
    justify-self: center;
    width: 980px;
    background-color: #140F1E;
    border: 1px solid rgba(128, 128, 128, 0.527);
    color: gray;
}

.button1 {
    display: inline-block;
    width: 70px;
    background-color: #140F1E;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 10px;
    margin-left: 10px;
}
.button2 {
    display: inline-block;
    width: 70px;
    background-color: #140F1E;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 10px;
    margin-left: 10px;
}.button3 {
    display: inline-block;
    width: 100px;
    background-color: #140F1E;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 10px;
    margin-left: 10px;
}